body, html {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
}
.navbar {
	position: fixed;
  	display: flex;
  	flex-direction: row;
  	background-color: lightgrey;
  	width: 100%;
  	height: auto;
  	z-index: 9999;
}
.navbar header {
	margin-right: auto;
    margin-left: 10px;
}
.navbar ul {
	display: flex;
  	flex-direction: row;
  	list-style: none;
  	margin-left: auto;
    margin-right: 10px;

}
.navbar ul li {
	color: black;
	padding: 0 10px 0 10px;
	text-decoration: none;
}

.navbar ul li:hover {
	color: white;
}

.navbar ul li:active {
	padding: 0 15px 0 15px;
}
.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin-top: 5em;
	text-align: center;

}
#challenge1 {
	background-color: lightblue;
}
input[type="number"] {
	width: 10em;
}
}